@media (min-width: 600px) {

    header {
        display:block;
        clear:both;
        justify-content: space-evenly;
        text-align: center;
        width: 100%;
        background-color: white;
    }
        
    #headline {
        padding: 0.8em;
        padding: 20px 5%;
        color: white;
        font-family: Roboto, sans-serif;
        background-image: url(backgroundimage.jpg);
        background-size: cover;
      }
      #headline #blurb {
        float: left;
        font-weight: 200;
        width: 50%;
        font-size: 18px;
        box-sizing: border-box;
        padding-right: 10px;
      }
      
      #headline #register {
        float:right;
        padding: 20px;
        width: 50%;
        box-sizing: border-box;
        font-weight: 300;
      }
      
      #headline br {
        clear: both;
      }
    
      #section1 ul {
        box-sizing: border-box;
        float: left;
        width: 50%;
        padding-right: 1em;
      }
      
      #section1 video {
        width: 50%;
        float: right;
      }
    
      #section2 div img {
        width: 30%;
        margin: 1%;
        box-sizing: border-box;
        border-radius: 50% 50%;
        box-shadow: black 0px 0px 5px;
      }
    
  }

body{
    background-color: #2979ff;
}

.container {
    margin: auto;
    max-width: 800px;
}

/* Style the header */
/*header {
    display:flex;
    justify-content: space-evenly;
    text-align: center;
    width: 100%;
    background-color: white;
}


section {
    border-radius: 0.75em;
    bottom: 10px;
    padding : 1em;
    margin : 1em;
    background-color: white;
}

.experience{
    box-shadow: 6px 6px 2px 1px rgba(199, 199, 199, 100);
    border: 1px solid;
    border-left: 1px solid;
    border-color : rgba(199, 199, 199, 100);
}

article{
    margin-bottom : 1em;
    padding : 1em;
}
.shadowed {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.shadowed:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

aside{
    text-align: right;
}

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top: 1em;
    text-align: center;
    background-color: white;
}
p{
    text-align: left;
}

div.portrait 
{
    display: flex;
    padding-left: 0.3em;
    text-align : left;
}

img.portrait {
    overflow:hidden;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:50px;
    width:180px;
    height:120px;
    padding:1em;
}
img.logo {
    max-width:10%;
    max-height:10%;
}

img.logo2 {
    max-width: 4%;
    max-height:4%;
}

ul{
    list-style-type: none;
    margin : 0px;
    padding: 0px;
}

li{
    list-style-type: none;
    margin : 0px;
    padding: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin:0;
    padding:0;
}

/* rating */

.checked{
    color: orange;
}
/*   Header style      */
.emphasis{
    text-align: center;
    font-style: italic;
}*/